.entry-content{
    font-family: 'Roboto', sans-serif !important;
}
.btc-wallet-box-plugin .btn-group {
    position: relative;
}
.bootstrapiso.btc-wallet-box-plugin .card h1.yzxnz_copy_amount {
    margin-top: 0px !important;
    margin-bottom: 12px !important;
    font-size: 30px;
}
.bootstrapiso.btc-wallet-box-plugin .card h1.yzxnz_copy_amount .text-muted {
    font-size: 18px;
}
.btc-wallet-box-plugin .btn-group p {
    margin: 0px;
}
.bootstrapiso .card-header {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,0.03);
    border-bottom: 1px solid rgba(0,0,0,0.125);
    margin-top: 0px;
}
.bootstrapiso .card-header p {
    margin: 0px;
}
.bootstrapiso.btc-wallet-box-plugin .card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: .25rem;
    margin-top: 16px;
    max-width: 620px !important;
    margin: 0px 0px 0px;
}
.btc-wallet-box-plugin .btn-group.btc-dropdown-btn {
    max-width: 620px;
    margin: 0px auto;
}
.bootstrapiso .yzxnz_addr_title {
    font-weight: 500!important;
    text-align: left;
    font-size: 20px;
    margin-top: 0px !important;
    line-height: 1.6;
}
.bootstrapiso h4, .bootstrapiso .h4 {
    font-size: 1.5rem;
    margin: 0px !important;
}
.bootstrapiso .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.bootstrapiso .float-right {
    float: right!important;
}
.bootstrapiso .yzxnz_refresh {
    height: 34px;
    width: 34px;
    padding: 0px;
    line-height: 0;
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border: 1px solid #6c757d;
    border-radius: .2rem;
}
.svg-inline--fa.fa-w-16 {
    width: 1em;
}
.bootstrapiso .card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.bootstrapiso .pb-1, .bootstrapiso .py-1 {
    padding-bottom: .25rem!important;
}
.bootstrapiso .mb-4, .bootstrapiso .my-4 {
    margin-bottom: 1.5rem!important;
}
.bootstrapiso .mt-3, .bootstrapiso .my-3 {
    margin-top: 1rem!important;
}
.bootstrapiso .card-title {
    margin-bottom: .75rem;
}
.bootstrapiso .text-muted {
    color: #6c757d!important;
}
.bootstrapiso small, .bootstrapiso .small {
    font-size: 80%;
    font-weight: 400;
}
.bootstrapiso .lead {
    font-size: 1.25rem;
    font-weight: 300;
}
.bootstrapiso .card-body p {
    margin: 0px;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
}
.bootstrapiso .yzxnz_button_wait.btn-block {
    width: auto;
}
.btc-wallet-address-box {
    position: relative;
}
.btc-wallet-address-box .yzxnz_wallet_address {
    color: #6c757d;
}
.btc-wallet-address-box .yzxnz_copy_address,
.btc-wallet-address-box .yzxnz_wallet_open {
    color: #6c757d;
    display: inline-block;
    position: absolute;
    right: 28px;
    top: 4px;
    z-index: 1;
}
.btc-wallet-address-box .yzxnz_wallet_open{
    right: 0px;
}
.btc-wallet-address-box .yzxnz_copy_address svg,
.btc-wallet-address-box .yzxnz_wallet_open svg{
    width: .875em;
}
.btc-wallet-box-plugin .card-body .btc-wallet-address-box > a {
    margin-left: 0px;
    vertical-align: middle;
}
.btc-wallet-box-plugin .btc-wallet-address-box {
    margin-top: 8px !important;
    margin-bottom: 0px !important;
    text-align: left;
    font-size: 18px;
    width: calc(100% - 65px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    padding-right: 35px !important;
}
.btc-wallet-box-plugin .yzxnz_button_wait {
    font-size: 18px;
    border-radius: 6px;
    margin-top: 8px;
    margin-bottom: 15px;
    padding: 14px 20px;
    background: transparent;
    border: 1px solid #6c757d;
    color: #6c757d;
    font-weight: 600;
}
.btc-wallet-box-plugin .yzxnz_button_wait:hover {
    background-color: #6c757d;
    color: #fff;
}
.btc-wallet-box-plugin .yzxnz_button_wait svg {
    vertical-align: middle;
    position: relative;
    top: -3px;
}
.btc-wallet-main-box {
    display: table;
    width: 100%;
}
.btc-wallet-main-box > div {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}
.btc-wallet-main-box .btc-address-detail {
    padding-left: 10px;
}
.btc-wallet-main-box .btc-address-detail .lead {
    font-size: 18px;
}
.btc-wallet-box-plugin .yzxnz_button_confirm {
    font-size: 18px;
    border-radius: 6px;
    padding: 14px 20px;
    background-color: #6c757d;
    border-color: #6c757d;
    font-weight: 500;
}
.btc-confirm-btn {
    max-width: 620px;
    margin: 0px;
    padding: 0px 15px;
}
.btc-wallet-box-plugin .yzxnz_button_confirm svg {
    width: 16px;
    vertical-align: middle;
    position: relative;
    top: -2px;
}
.cr-plugin-copy{
    position: fixed;
    top: 50px;
    right: 20px;
    border-radius: 10px;
    background-color: #EB5202;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    padding: 15px 25px;
    display: none;
    z-index: 9999;
    }
.cr-plugin-copy p{
    margin: 0px;
    color: #FFF;
    }
.yzxnz_header {
    display: none;
}
.yzxnz_cryptobox_top {
    display: none;
}
@media screen and (max-width: 991px){
    .btc-wallet-main-box {
        display: block;
        width: 100%;
    }
    .btc-wallet-main-box > div {
        display: block;
        width: 100%;
        text-align: center;
    }
    .btc-wallet-box-plugin .btc-wallet-address-box {
        margin: 8px auto 0px !important;
    }
    .bootstrapiso .card-body p,
    .btc-confirm-btn{
        text-align: center;
    }
    .bootstrapiso .yzxnz_button_wait.btn-block {
        margin: 10px auto 15px;
    }
}
@media screen and (max-width: 1199px) and (min-width: 992px){
    .bootstrapiso.btc-wallet-box-plugin .card {
        max-width: 100% !important;
    }
    .btc-confirm-btn {
        max-width: 100%;
    }
}

/* MM */

.crpObj{
    box-shadow: inset 0 0px 0 rgba(15, 15, 15, 1) !important;
}
.crpObj.active img{
    /*border:1px solid #333333 !important;*/
    border: 2px solid #7db8d9 !important;
    background-color: #f4f8fb;
    
}
.bootstrapiso .coinremittercoin_useraddr_title {
    font-weight: 500!important;
    text-align: left;
    font-size: 20px;
    margin-top: 0px !important;
    line-height: 1.6;
}
.bootstrapiso.btc-wallet-box-plugin .card h1.coinremittercoin_usercopy_amount {
    margin-top: 0px !important;
    margin-bottom: 12px !important;
    font-size: 30px;
}
.btc-wallet-address-box .coinremittercoin_userwallet_address {
    color: #6c757d;
}

.btc-wallet-address-box .coinremittercoin_usercopy_address, .btc-wallet-address-box .coinremittercoin_userwallet_open {
    color: #6c757d;
    display: inline-block;
    position: absolute;
    right: 28px;
    top: 4px;
    z-index: 1;
}
.bootstrapiso .coinremittercoin_userbutton_wait{
    width: auto !important;
}
.btc-wallet-address-box .coinremittercoin_userwallet_open {
    right: 0px;
}
.btc-wallet-box-plugin .coinremittercoin_userbutton_wait {
    font-size: 18px !important;
    border-radius: 6px !important;
    margin-top: 8px;
    margin-bottom: 15px;
    padding: 14px 20px !important;
    background: transparent;
    border: 1px solid #6c757d !important;
    color: #6c757d !important;
    font-weight: 600 !important;
}
.btc-wallet-box-plugin .coinremittercoin_userbutton_wait:hover {
    background-color: #6c757d !important;
    color: #fff !important;
}
.btc-wallet-box-plugin .coinremittercoin_userbutton_confirm {
    font-size: 18px !important;
    border-radius: 6px !important;
    padding: 14px 20px !important;
    background-color: #6c757d !important;
    border-color: #6c757d !important;
    font-weight: 500 !important;
}
.wc_payment_method .payment_box.payment_method_coinremitterpayments {
    padding: 20px 20px;
    text-align: left;
    border-radius: 10px;
    margin-bottom: 30px;
}
.wc_payment_method .payment_box.payment_method_coinremitterpayments p {
    font-size: 18px;
    font-weight: 600;
    margin: 0px 0px;
}
.wc_payment_method .payment_box.payment_method_coinremitterpayments a.crpObj {
    height: 80px;
    width: 80px;
    display: inline-block;
    background-color: #fff;
    vertical-align: top;
    border-radius: 6px;
    line-height: 72px;
    margin-right: 15px;
    margin-top: 10px;
    border: 3px solid transparent;
    text-align: center;
    position: relative;
    outline: 0 !important;
}
.wc_payment_method .payment_box.payment_method_coinremitterpayments a.crpObj.active {
    border: 3px solid #71c837;
}
.wc_payment_method .payment_box.payment_method_coinremitterpayments a.crpObj.active::before {
    content: "";
    height: 25px;
    width: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: -8px;
    right: -12px;
}
.wc_payment_method .payment_box.payment_method_coinremitterpayments a.crpObj img {
    width: 50px;
    max-height: 50px !important;
    margin: 10px 10px !important;
    padding: 0px !important;
    vertical-align: middle;
    border: 0px !important;
    background: transparent;
}
.cr-plugin-history span {
    color: #99999f !important;
    font-size: 18px;
}
.cr-plugin-main-box > .cr-plugin-left > .cr-plugin-shipping > div {
width: calc(50% - 10px);
}
.post-inner > div {
    text-align: left;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    /*font-family: 'Roboto', sans-serif;*/
    margin: 0px;
    font-family: 'Poppins', sans-serif !important;
}
ul, li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
img {
    max-width: 100%;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.entry-content {
    margin-bottom: 30px;
}
.cr-plugin-billing-main .cr-plugin-title {
    padding: 15px 20px;
    border-bottom: 1px solid #eee;
    margin: -20px -20px 0px !important;
}
.cr-plugin-mr-top {
    margin-top: 30px;
}
.cr-plugin-shadow {
    background-color: #FFF;
    box-shadow: 0px 0px 15px #EEE;
    border-radius: 15px 15px;
}
.cr-plugin-main-box {
    margin: 0px -15px;
}
.cr-plugin-shipping > div,
.cr-plugin-main-box > div {
    width: 55%;
    float: left;
    padding: 0px 15px;
}
.cr-plugin-shipping > div{
    padding: 0px 20px 0px 0px;
}
.cr-plugin-shipping > div:last-child {
    padding: 0px;
}
.cr-plugin-main-box > .cr-plugin-left {
    width: 45%;
}
.cr-plugin-shipping {
    padding: 20px 20px;
}
.cr-plugin-title {
    font-size: 20px;
    font-weight: 600;
    margin: 0px 0px 15px !important;
    color: #000;
    text-align: left;
}
.cr-plugin-shipping-address p,
.cr-plugin-billing-address p {
    font-size: 16px;
    line-height: 1.6 !important;
    font-weight: 400;
    color: #000;
    margin: 0px;
}
.cr-plugin-cart-summary {
    padding: 20px 0px;
}
.cr-plugin-cart-summary .cr-plugin-title {
    padding: 0px 20px;
}
.cr-plugin-cart-table table {
    margin: 0px;
    width: 100%;
    border-collapse: collapse;
    border: 0px;
}
.entry-content .cr-plugin-cart-table-box table {
    border: 0px;
}
.cr-plugin-cart-table table thead > tr > th {
    font-size: 16px;
    padding: 15px 20px;
    padding-top: 0px;
    font-weight: 600;
    border: 0px;
    border-bottom: 1px solid #eee;
    background-color: transparent !important;
    color: #000;
}
.cr-plugin-cart-table table > tbody > tr > td {
    font-size: 14px !important;
    color: #000;
    font-weight: 400;
    vertical-align: middle;
    padding: 15px 20px;
    border: 0px;
    background-color: transparent !important;
}
.cr-plugin-cart-table table > tbody > tr > td > .cr-plugin-cart-img {
    width: 88px;
    float: left;
    padding-right: 15px;
}
.cr-plugin-cart-table table > tbody > tr > td > .cr-plugin-cart-des > p {
    margin: 0px !important;
    font-weight: 400 !important;
}
.cr-plugin-payment-detail {
    border-top: 1px solid #eee;
    padding-top: 20px;
}
.cr-plugin-payment-detail ul {
    margin: 0px;
    padding: 0px 20px;
}
.cr-plugin-payment-detail ul li {
    margin: 0px;
    list-style: none;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #000 !important;
}
.cr-plugin-payment-detail ul li:last-child {
    padding-bottom: 0px;
}
.cr-plugin-payment-detail ul li span {
    float: right;
    font-weight: 600;
}
.cr-plugin-payment-detail .cr-plugin-payment-grand {
    border-top: 1px solid #eee;
    padding-top: 12px;
    margin-top: 12px;
}
.cr-plugin-payment-detail .cr-plugin-payment-grand li {
    font-weight: 600;
}
.cr-plugin-billing-code img {
    max-width: 180px;
}
.cr-plugin-billing-box {
    display: table;
    width: 100%;
}
.cr-plugin-billing-box .cr-plugin-billing-code {
    width: 175px;
    display: table-cell;
    vertical-align: middle;
    border-right: 1px solid #eee;
}
.cr-plugin-billing-box .cr-plugin-billing-code img {
    max-width: 150px;
}
.cr-plugin-billing-main {
    padding: 20px 20px 20px 20px;
    margin-top: 30px;
    position: relative;
}
.cr-plugin-billing-box .cr-plugin-billing-amount {
    width: calc(100% - 180px);
    display: table-cell;
    vertical-align: middle;
}
.cr-plugin-billing-box .cr-plugin-billing-amount ul {
    margin: 0px;
    padding: 0px;
}
.cr-plugin-billing-box .cr-plugin-billing-amount ul li {
    margin: 0px;
    border-bottom: 1px solid #eee;
    padding-bottom: 8px;
    margin-bottom: 8px;
    padding-left: 20px;
}
.cr-plugin-billing-box .cr-plugin-billing-amount ul li:last-child{
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
}
.cr-plugin-billing-box .cr-plugin-billing-amount ul li span {
    font-size: 16px;
    color: #999999;
    display: block;
    margin-bottom: 5px;
}
.cr-plugin-billing-box .cr-plugin-billing-amount ul li p {
    font-size: 17px;
    color: #000000 !important;
    font-weight: 500;
    margin: 0px;
    word-break: break-word;
}
.cr-plugin-billing-box .cr-plugin-billing-amount ul li p > b{
    color: #000 !important;
}
.cr-plugin-billing-box .cr-plugin-billing-amount ul li p > i {
    font-size: 18px;
    margin-left: 8px;
    color: #999999;
    cursor: pointer;
}
.cr-plugin-history {
    position: relative;
    padding-left: 65px;
    padding-right: 95px;
}
.cr-plugin-payment-history .cr-plugin-title {
    padding: 15px 20px;
    border-bottom: 1px solid #eee;
    margin: 0px !important;
}
.cr-plugin-history .cr-plugin-history-ico {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    background-color: green;
    font-size: 24px;
    color: #fff;
    text-align: center;
    line-height: 50px;
}
.cr-plugin-history .cr-plugin-history-ico > i {
    background: transparent;
    color: #fff !important;
}
.cr-plugin-history .cr-plugin-history-ico .dashicons {
    font-size: 40px;
    position: absolute;
    top: 10px;
    left: 11px;
}
.cr-plugin-history-box {
    padding: 20px 20px;
    border-bottom: 1px solid #eee;
}
.cr-plugin-history-box:last-child {
    border-bottom: 0px;
}
.cr-plugin-history .cr-plugin-history-des span {
    font-size: 16px;
    color: #000;
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
    word-break: break-word;
}
.cr-plugin-history .cr-plugin-history-des span > a {
    color: #000;
    text-decoration: underline;
}
.cr-plugin-history .cr-plugin-history-des p {
    font-size: 16px;
    margin: 0px;
}
.cr-plugin-history .cr-plugin-history-date {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}
.cr-plugin-history .cr-plugin-history-date span {
    font-size: 14px;
    color: #999999;
}
.cr-plugin-history-footer {
    border-top: 1px solid #eee;
    padding: 15px 20px 15px 20px;
}
.cr-plugin-history-footer ul {
    margin: 0px;
}
.cr-plugin-history-footer ul li {
    margin: 0px;
    font-size: 18px;
    color: #999999;
    width: 50%;
    float: left;
    text-align: center;
}
.cr-plugin-history-footer ul li span {
    color: #000000;
    font-weight: 500;
}
.cr-plugin-history-footer ul li > span {
    display: block;
}
.cr-plugin-billing-main .cr-plugin-timer {
    position: absolute;
    top: 11px;
    right: 11px;
}
.cr-plugin-timer span {
    font-size: 15px;
    color: #666;
    display: inline-block;
    margin-right: 4px;
}
.cr-plugin-timer ul {
    margin: 0px;
    display: inline-block;
    padding: 0px;
}
.cr-plugin-timer ul > li {
    position: relative;
    margin: 0px;
    display: inline-block;
    height: 35px;
    width: 35px;
    background-color: #eee;
    font-size: 15px;
    line-height: 35px;
    font-weight: 500;
    text-align: center;
    color: #222;
    margin-right: 8px;
}
.cr-plugin-timer ul > li::before {
    content: ":";
    font-size: 15px;
    position: absolute;
    top: 0px;
    right: -8px;
    color: #666;
}
.cr-plugin-timer ul > li:last-child::before{
    content: none;
}
.cr-plugin-timer ul > li:last-child{
    margin-right: 0px;
}
.cr-plugin-timer ul > li > span{
    color: #222;
    margin: 0px;
}
.cr-plugin-brand{
    padding: 20px;
    text-align: center;
}
.cr-plugin-brand span{
    font-size: 16px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
}
.cr-plugin-brand img{
    width: 120px;
    display: inline-block;
    vertical-align: middle;
}
.cr-plugin-payment-history .cr-plugin-timer div{
    margin-left: 10px;
    border: 3px solid #F3F3F3;
    border-radius: 50%;
    border-top: 3px solid #3498DB;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2.5s linear infinite;
    animation: spin 2.5s linear infinite;
}
.cr-plugin-brand {
    margin-top: 15px;
}
.theme-change-content .cr-plugin-main-box > .cr-plugin-left,
.theme-change-content .cr-plugin-main-box > .cr-plugin-right {
    width: 100%;
    float: none;
}
.theme-change-content .cr-plugin-shipping > div {
    width: calc(50% - 10px);
}
.cr-plugin-billing-box .cr-plugin-billing-amount ul li::before{
    content: none;
}
.cr-plugin-shipping > div, .cr-plugin-main-box .cr-plugin-brand {
    width: 100%;
}
.entry-content .cr-plugin-main-box{
    text-align: left;
}
.order_details,
.order_details tr > th,
.order_details tr > td{
    background: transparent !important;
    border: 1px solid #eee !important;
    color: #222 !important;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@media screen and (max-width: 575px){
    .cr-plugin-billing-main .cr-plugin-timer {
        position: static;
        margin-bottom: 20px;
    }
    .cr-plugin-history-box .cr-plugin-history {
        padding-left: 65px;
        padding-right: 0px;
    }
}
@media screen and (max-width: 767px) and (min-width: 576px){
    .cr-plugin-main-box .cr-plugin-shipping > div {
        width: 50% !important;
        margin: 0px;
    }
}
@media screen and (max-width: 767px){
    .cr-plugin-shipping > div,
    .cr-plugin-main-box > div {
        width: 100% !important;
    }
    .cr-plugin-shipping > div {
        padding: 0px;
    }
    .cr-plugin-shipping > .cr-plugin-shipping-address {
        margin-bottom: 20px;
    }
    .cr-plugin-cart-table-box table {
        width: 575px !important;
    }
    .cr-plugin-history .cr-plugin-history-date {
        position: static;
        transform: none;
    }
    .cr-plugin-history-footer {
        padding-left: 15px;
    }
    .cr-plugin-history-footer ul li {
        text-align: center;
    }
    .cr-plugin-history-footer ul li span {
        display: block;
    }
    .cr-plugin-cart-table-box {
        overflow-x: auto;
    }
    .cr-plugin-cart-table-box table {
        width: 100%;
    }
    .cr-plugin-billing-box {
        display: block;
    }
    .cr-plugin-billing-main {
        padding: 15px 15px;
    }
    .cr-plugin-billing-box .cr-plugin-billing-code img {
        margin: 0px auto;
    }
    .cr-plugin-billing-box .cr-plugin-billing-code,
    .cr-plugin-billing-box .cr-plugin-billing-amount {
        width: 100% !important;
        display: block;
        border: 0px;
        text-align: center;
    }
    .cr-plugin-billing-box .cr-plugin-billing-amount ul li {
        padding-left: 0px;
    }
    .cr-plugin-billing-box .cr-plugin-billing-amount {
        margin-top: 20px;
        text-align: center;
    }
}
@media screen and (max-width: 991px) and (min-width: 768px){
    .cr-plugin-main-box > .cr-plugin-left,
    .cr-plugin-main-box > .cr-plugin-right {
        width: 100%;
        float: none;
    }
}
@media screen and (max-width: 1199px) and (min-width: 992px){
    .cr-plugin-shipping .cr-plugin-shipping-address,
    .cr-plugin-shipping .cr-plugin-billing-address {
        width: 100%;
        padding: 0px;
    }
    .cr-plugin-shipping .cr-plugin-shipping-address {
        margin-bottom: 20px;
    }
    .cr-plugin-cart-table-box {
        overflow-x: auto;
    }
    .cr-plugin-cart-table-box table {
        width: 500px;
    }
    .cr-plugin-billing-main .cr-plugin-timer {
        position: static;
        border-bottom: 1px solid #eee;
        padding-bottom: 15px;
        margin-bottom: 20px;
    }
    .cr-plugin-billing-box {
        display: block;
    }
    .cr-plugin-billing-box .cr-plugin-billing-code,
    .cr-plugin-billing-box .cr-plugin-billing-amount {
        width: 100%;
        display: block;
    }
    .cr-plugin-billing-box .cr-plugin-billing-amount ul li {
        padding-left: 0px;
    }
    .cr-plugin-billing-box .cr-plugin-billing-amount {
        margin-top: 15px;
    }
    .cr-plugin-billing-box {
        text-align: center;
    }
    .cr-plugin-billing-main {
        padding: 15px 15px;
    }
    .cr-plugin-billing-box .cr-plugin-billing-code {
        border: 0px;
    }
    .cr-plugin-billing-box .cr-plugin-billing-code img {
        margin: 0px auto;
    }
    .cr-plugin-history-footer {
        padding-left: 30px;
    }
}
@media only screen and (min-width: 768px){
    .entry-content .cr-plugin-main-box{
        max-width: 100% !important;
        width: auto !important;
        /*padding: 0 6vw;*/
    }
}
@media screen and (min-width: 48em){
    .wrap {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}