@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Roboto", sans-serif !important;
}
.entry-content {
  font-family: "Roboto", sans-serif !important;
}
/* new */
.bootstrapiso.btc-wallet-box-plugin .card-header {
  position: relative;
}
.btc-wallet-main-box .btc-address-detail {
  padding-left: 25px;
}
.bootstrapiso.btc-wallet-box-plugin .card-header h4 {
  font-size: 18px;
  color: #222;
}
.bootstrapiso.btc-wallet-box-plugin .card-header h4 > a {
  box-shadow: none;
}
.bootstrapiso.btc-wallet-box-plugin .card-header .wallet-address-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}
.btc-wallet-main-box {
  background-color: #f5f5f580;
  border: 1px solid rgba(0, 0, 0, 0.03);
  padding: 25px 25px;
  border-radius: 8px;
}
.bootstrapiso.btc-wallet-box-plugin .card-header .wallet-address-btn a {
  float: left;
  font-size: 15px;
  box-shadow: none;
  border-radius: 4px;
  text-align: center;
  padding: 9px 9px;
  color: #222;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.03);
}
.bootstrapiso.btc-wallet-box-plugin
  .card-header
  .wallet-address-btn
  a:last-child {
  margin-right: 0px;
}
.bootstrapiso.btc-wallet-box-plugin .btc-title {
  margin-bottom: 15px;
}
.bootstrapiso.btc-wallet-box-plugin .btc-title h2 {
  font-size: 24px;
  text-align: center;
  margin: 0px 0px 22px;
}
.btc-wallet-main-box .btc-address-detail .btc-sent {
  font-size: 26px;
  margin-bottom: 10px;
}
.btc-wallet-main-box .btc-address-detail .btc-sent span {
  margin-right: 4px;
  vertical-align: middle;
}

.btc-wallet-main-box .coinremittercoin_usercopy_address {
  width: 150px;
}
.btc-wallet-main-box .btc-address-detail .btc-sent-box h3 {
  font-size: 18px;
  margin-bottom: 3px;
  padding: 0px;
  font-weight: normal;
  color: #444;
}
.btc-wallet-main-box .btc-address-detail .coinremittercoin_userbutton_wait {
  text-align: left;
  width: auto;
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.03);
  color: #222;
  font-weight: 600;
  font-size: 18px;
  margin-top: 15px;
}
.bootstrapiso .card-body .btc-wallet-main-box {
  margin-bottom: 14px;
}
.btc-confirm-btn .coinremittercoin_userbutton_confirm {
  margin-bottom: 0px !important;
  margin-top: 10px !important;
}
.btc-confirm-btn form {
  margin: 0px;
}
.btc-confirm-btn .coinremittercoin_userbutton_confirm {
  margin-bottom: 0px !important;
  margin-top: 10px !important;
  width: auto !important;
  background-color: rgb(108, 117, 126) !important;
  border: 1px solid rgba(0, 0, 0, 0.03) !important;
  color: #fff;
  font-weight: 600;
  font-size: 18px !important;
  margin: 15px auto 0px;
}
.btc-wallet-main-box
  .btc-address-detail
  .coinremittercoin_userbutton_wait:hover {
  background-color: #6c757e;
  border-color: #6c757e;
  color: #fff;
}
/* new */
.btc-wallet-box-plugin .btn-group {
  position: relative;
}
.bootstrapiso.btc-wallet-box-plugin .card {
  max-width: 100% !important;
}
.bootstrapiso.btc-wallet-box-plugin .card h1.yzxnz_copy_amount {
  margin-top: 0px !important;
  margin-bottom: 12px !important;
  font-size: 30px;
}
.bootstrapiso.btc-wallet-box-plugin .card h1.yzxnz_copy_amount .text-muted {
  font-size: 18px;
}
.btc-wallet-box-plugin .btn-group p {
  margin: 0px;
}
.bootstrapiso .card-header {
  padding: 0.75rem 1.25rem;
  background-color: #f5f5f580;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  margin-top: 0px;
}
.bootstrapiso .card-header p {
  margin: 0px;
}
.bootstrapiso.btc-wallet-box-plugin .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-top: 16px;
  max-width: 650px !important;
  margin: 0px auto 0px;
}
.btc-wallet-box-plugin .btn-group.btc-dropdown-btn {
  max-width: 620px;
  margin: 0px auto;
}
.bootstrapiso .yzxnz_addr_title {
  font-weight: 500 !important;
  text-align: left;
  font-size: 20px;
  margin-top: 0px !important;
  line-height: 1.6;
}
.bootstrapiso h4,
.bootstrapiso .h4 {
  font-size: 1.5rem;
  margin: 0px !important;
}
.bootstrapiso .btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.bootstrapiso .float-right {
  float: right !important;
}
.bootstrapiso .yzxnz_refresh {
  height: 34px;
  width: 34px;
  padding: 0px;
  line-height: 0;
  color: #6c757d;
  background-color: transparent;
  background-image: none;
  border: 1px solid #6c757d;
  border-radius: 0.2rem;
}
.svg-inline--fa.fa-w-16 {
  width: 1em;
}
.bootstrapiso .card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.bootstrapiso .pb-1,
.bootstrapiso .py-1 {
  padding-bottom: 0.25rem !important;
}
.bootstrapiso .mb-4,
.bootstrapiso .my-4 {
  margin-bottom: 1.5rem !important;
}
.bootstrapiso .mt-3,
.bootstrapiso .my-3 {
  margin-top: 1rem !important;
}
.bootstrapiso .card-title {
  margin-bottom: 0.75rem;
}
.bootstrapiso .text-muted {
  color: #6c757d !important;
}
.bootstrapiso small,
.bootstrapiso .small {
  font-size: 80%;
  font-weight: 400;
}
.bootstrapiso .lead {
  font-size: 1.25rem;
  font-weight: 300;
}
.bootstrapiso .card-body p {
  margin: 0px;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
}
.bootstrapiso .yzxnz_button_wait.btn-block {
  width: auto;
}
.btc-wallet-address-box {
  position: relative;
}
.btc-wallet-address-box .yzxnz_wallet_address {
  color: #6c757d;
}
.btc-wallet-address-box .yzxnz_copy_address,
.btc-wallet-address-box .yzxnz_wallet_open {
  color: #6c757d;
  display: inline-block;
  position: absolute;
  right: 28px;
  top: 4px;
  z-index: 1;
}
.btc-wallet-address-box .yzxnz_wallet_open {
  right: 0px;
}
.btc-wallet-address-box .yzxnz_copy_address svg,
.btc-wallet-address-box .yzxnz_wallet_open svg {
  width: 0.875em;
}
.btc-wallet-box-plugin .card-body .btc-wallet-address-box > a {
  margin-left: 0px;
  vertical-align: middle;
}
.btc-wallet-box-plugin .btc-wallet-address-box {
  margin-top: 8px !important;
  margin-bottom: 0px !important;
  text-align: left;
  font-size: 18px;
  width: calc(100% - 65px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  padding-right: 35px !important;
}
.btc-wallet-box-plugin .yzxnz_button_wait {
  font-size: 18px;
  border-radius: 6px;
  margin-top: 8px;
  margin-bottom: 15px;
  padding: 14px 20px;
  background: transparent;
  border: 1px solid #6c757d;
  color: #6c757d;
  font-weight: 600;
}
.btc-wallet-box-plugin .yzxnz_button_wait:hover {
  background-color: #6c757d;
  color: #fff;
}
.btc-wallet-box-plugin .yzxnz_button_wait svg {
  vertical-align: middle;
  position: relative;
  top: -3px;
}
.btc-wallet-main-box {
  display: table;
  width: 100%;
}
.btc-wallet-main-box > div {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}
.btc-wallet-main-box .btc-address-detail .lead {
  font-size: 18px;
}
.btc-wallet-box-plugin .yzxnz_button_confirm {
  font-size: 18px;
  border-radius: 6px;
  padding: 14px 20px;
  background-color: #6c757d;
  border-color: #6c757d;
  font-weight: 500;
}
.btc-wallet-box-plugin .yzxnz_button_confirm svg {
  width: 16px;
  vertical-align: middle;
  position: relative;
  top: -2px;
}
.yzxnz_header {
  display: none;
}
.yzxnz_cryptobox_top {
  display: none;
}
/* checkout css */
.order-recive-box {
  padding-top: 30px;
}
.order-recive-box p {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0px;
}
.woocommerce .woocommerce-order .woocommerce-order-overview {
  display: inline-block;
  margin: 0px -7px 30px;
  list-style: none;
}
.woocommerce .woocommerce-order .woocommerce-order-overview > li {
  float: left;
  width: calc(50% - 14px);
  font-size: 15px;
  color: #444;
  margin: 15px 7px 0px !important;
  border: 1px dashed #ddd;
  padding: 8px 15px;
  background-color: #f5f5f580;
  border-radius: 6px;
}
.woocommerce .woocommerce-order .woocommerce-order-overview > li strong {
  display: block;
  margin-top: 2px;
  font-weight: 600;
}
.woocommerce
  > .woocommerce-order
  > ul.woocommerce-thankyou-order-details
  li.woocommerce-order-overview__payment-method {
  width: calc(100% - 14px);
}
.woocommerce-order-details {
  margin-top: 25px;
}
.woocommerce-order-details .woocommerce-order-details__title {
  font-size: 20px;
  font-weight: 600;
  color: #222;
  margin-bottom: 15px;
}
.woocommerce-customer-details .woocommerce-columns .woocommerce-column {
  margin-bottom: 0px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.woocommerce-column .woocommerce-column__title {
  font-size: 18px;
  font-weight: 600;
  color: #222;
  margin-bottom: 0;
  background-color: #f5f5f5;
  border-color: #ddd;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.woocommerce-column address {
  margin: 0px;
  font-size: 15px;
  color: #444;
  padding: 15px 15px;
}
.woocommerce-column address > p {
  margin-bottom: 0px;
  margin-top: 4px;
}
.woocommerce-order-details {
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
}
.woocommerce-order-details .woocommerce-total-table {
  width: 50%;
  float: right;
  margin: 0px;
}
.woocommerce-order-details .woocommerce-table--order-details {
  margin: 0px 0px 8px;
}
.woocommerce-table--order-details tfoot tr {
  border: 0px;
}
.woocommerce-table--order-details tr th {
  font-size: 15px;
  font-weight: 600;
  color: #222;
  margin-bottom: 0;
  background-color: #f5f5f5;
  border-color: #ddd;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.woocommerce-table--order-details tr td {
  font-size: 15px;
  color: #222;
  margin-bottom: 0;
  border: 1px solid #ddd;
  padding: 10px 15px;
}
.woocommerce-table--order-details tfoot tr td,
.woocommerce-table--order-details tfoot tr th {
  border: 0px;
  background: transparent;
  font-weight: 600;
}
.woocommerce-order-details .woocommerce-total-table {
  width: 50%;
  float: right;
}
.woocommerce-order-details .woocommerce-total-table tbody tr th {
  font-size: 15px;
  font-weight: 600;
  color: #222;
  margin-bottom: 0;
  background-color: #f5f5f5;
  border-color: #ddd;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.woocommerce-order-details .woocommerce-total-table tbody tr td {
  font-size: 15px;
  color: #222;
  margin-bottom: 0;
  border: 1px solid #ddd;
  padding: 10px 15px;
}
/* checkout css */
.wc_payment_method .payment_box.payment_method_coinremitterpayments {
  padding: 20px 20px;
  text-align: left;
  border-radius: 10px;
  margin-bottom: 30px;
}
.short_payment_block{
  display: flex;
}
.wc_payment_method .payment_box.payment_method_coinremitterpayments p {
  font-size: 18px;
  font-weight: 600;
  margin: 0px 0px;
  /* display: block !important; */
}
.noCoin{
  color: red !important;
}
.wc_payment_method .payment_box.payment_method_coinremitterpayments a.crpObj {
  height: 80px;
  width: 80px;
  display: inline-block;
  background-color: #fff;
  vertical-align: top;
  border-radius: 6px;
  line-height: 72px;
  margin-right: 15px;
  margin-top: 10px;
  border: 3px solid transparent;
  text-align: center;
  position: relative;
  outline: 0 !important;
  box-shadow: none;
  align-items: center;
  display: flex;
  justify-content: center;
}
.wc_payment_method
  .payment_box.payment_method_coinremitterpayments
  a.crpObj.active {
  border: 3px solid #71c837;
  align-items: center;
  display: flex;
  justify-content: center;
}
.wc_payment_method
  .payment_box.payment_method_coinremitterpayments
  a.crpObj.active::before {
  content: "";
  height: 25px;
  width: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: -8px;
  right: -12px;
}
.wc_payment_method
  .payment_box.payment_method_coinremitterpayments
  a.crpObj
  img {
  width: 50px !important;
  max-height: 50px !important;
  margin: 10px 10px !important;
  padding: 0px !important;
  vertical-align: middle;
  border: 0px !important;
  background: transparent;
}
.cr-plugin-history span {
  color: #99999f !important;
  font-size: 18px;
}
.cr-plugin-main-box > .cr-plugin-left > .cr-plugin-shipping > div {
  width: calc(50% - 10px);
}
.post-inner > div {
  text-align: left;
}
.cr-plugin-brand {
  margin-top: 15px;
}
@media screen and (max-width: 991px) {
  .btc-wallet-main-box {
    display: block;
    width: 100%;
  }
  .btc-wallet-main-box > div {
    display: block;
    width: 100%;
    text-align: center;
  }
  .btc-wallet-box-plugin .btc-wallet-address-box {
    margin: 8px auto 0px !important;
  }
  .bootstrapiso .card-body p,
  .btc-confirm-btn {
    text-align: center;
  }
  .bootstrapiso .yzxnz_button_wait.btn-block {
    margin: 10px auto 15px;
  }
}
@media screen and (max-width: 1199px) and (min-width: 992px) {
  .bootstrapiso.btc-wallet-box-plugin .card {
    max-width: 100% !important;
  }
  .btc-confirm-btn {
    max-width: 100%;
  }
}
.disNone {
  display: none;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  /*font-family: 'Roboto', sans-serif;*/
  margin: 0px;
  font-family: "Poppins", sans-serif !important;
}
ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
img {
  max-width: 100%;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.entry-content {
  margin-bottom: 30px;
}
.cr-plugin-billing-main .cr-plugin-title {
  padding: 15px 20px;
  border-bottom: 1px solid #eee;
  margin: -20px -20px 0px !important;
}
.cr-plugin-mr-top {
  margin-top: 30px;
}
.cr-plugin-shadow {
  background-color: #fff;
  box-shadow: 0px 0px 15px #eee;
  border-radius: 15px 15px;
}
.cr-plugin-main-box {
  margin: 0px -15px;
}
/*.cr-plugin-shipping > div,
.cr-plugin-main-box > div {
    width: 55%;
    float: left;
    padding: 0px 15px;
}*/
.entry-content .cr-plugin-main-box > div {
  width: calc(50% - 30px);
  float: left;
  padding: 0px 15px;
}
.cr-plugin-shipping > div {
  padding: 0px 20px 0px 0px;
}
.cr-plugin-shipping > div:last-child {
  padding: 0px;
}
.cr-plugin-main-box > .cr-plugin-left {
  width: 45%;
}
.cr-plugin-shipping {
  padding: 20px 20px;
}
.cr-plugin-title {
  font-size: 20px;
  font-weight: 600;
  margin: 0px 0px 15px !important;
  color: #000;
  text-align: left;
}
.cr-plugin-shipping-address p,
.cr-plugin-billing-address p {
  font-size: 16px;
  line-height: 1.6 !important;
  font-weight: 400;
  color: #000;
  margin: 0px;
}
.cr-plugin-cart-summary {
  padding: 20px 0px;
}
.cr-plugin-cart-summary .cr-plugin-title {
  padding: 0px 20px;
}
.cr-plugin-cart-table table {
  margin: 0px;
  width: 100%;
  border-collapse: collapse;
  border: 0px;
}
.entry-content .cr-plugin-cart-table-box table {
  border: 0px;
}
.cr-plugin-cart-table table thead > tr > th {
  font-size: 16px;
  padding: 15px 20px;
  font-weight: 600;
  border: 0px;
  border-bottom: 1px solid #eee;
  background-color: transparent !important;
  color: #000;
  line-height: normal;
}
.cr-plugin-cart-table table > tbody > tr > td {
  font-size: 16px !important;
  color: #000;
  font-weight: 400;
  vertical-align: middle;
  padding: 15px 20px;
  border: 0px;
  background-color: transparent !important;
}
.cr-plugin-cart-table table > tbody > tr > td > .cr-plugin-cart-img {
  width: 88px;
  float: left;
  padding-right: 15px;
}
.cr-plugin-cart-table table > tbody > tr > td > .cr-plugin-cart-des > p {
  margin: 0px !important;
  font-weight: 400 !important;
}
.cart-pro {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.cart-pro .cr-plugin-cart-img {
  width: 60px;
  padding-right: 15px;
}
.cart-pro .cr-plugin-cart-img img {
  max-width: 60px;
}
.cr-plugin-payment-detail {
  border-top: 1px solid #eee;
  padding-top: 20px;
}
.cr-plugin-payment-detail ul {
  margin: 0px;
  padding: 0px 20px;
}
.cr-plugin-payment-detail ul li {
  margin: 0px;
  list-style: none;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #000 !important;
}
.cr-plugin-payment-detail ul li:last-child {
  padding-bottom: 0px;
}
.cr-plugin-payment-detail ul li span {
  float: right;
  font-weight: 600;
}
.cr-plugin-payment-detail .cr-plugin-payment-grand {
  border-top: 1px solid #eee;
  padding-top: 12px;
  margin-top: 12px;
}
.cr-plugin-payment-detail .cr-plugin-payment-grand li {
  font-weight: 600;
}
.cr-plugin-billing-code img {
  max-width: 180px;
}
.cr-plugin-billing-box {
  display: table;
  width: 100%;
}
.cr-plugin-billing-box .cr-plugin-billing-code {
  width: 175px;
  display: table-cell;
  vertical-align: middle;
  border-right: 1px solid #eee;
}
.cr-plugin-billing-box .cr-plugin-billing-code img {
  max-width: 150px;
}
.cr-plugin-billing-main {
  padding: 20px 20px 20px 20px;
  margin-top: 30px;
  position: relative;
}
.cr-plugin-billing-box .cr-plugin-billing-amount {
  width: calc(100% - 180px);
  display: table-cell;
  vertical-align: middle;
}
.cr-plugin-billing-box .cr-plugin-billing-amount ul {
  margin: 0px;
  padding: 0px;
}
.cr-plugin-billing-box .cr-plugin-billing-amount ul li {
  margin: 0px;
  border-bottom: 1px solid #eee;
  padding-bottom: 8px;
  margin-bottom: 8px;
  padding-left: 20px;
}
.cr-plugin-billing-box .cr-plugin-billing-amount ul li:last-child {
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: 0px;
}
.cr-plugin-billing-box .cr-plugin-billing-amount ul li span {
  font-size: 16px;
  color: #999999;
  display: block;
  margin-bottom: 5px;
}
.cr-plugin-billing-box .cr-plugin-billing-amount ul li p {
  font-size: 17px;
  color: #000000 !important;
  font-weight: 500;
  margin: 0px;
  word-break: break-word;
  /* display: flex;
  align-items: center; */
}
.cr-plugin-billing-box .cr-plugin-billing-amount ul li p > b {
  color: #000 !important;
}
.cr-plugin-billing-box .cr-plugin-billing-amount ul li p > i {
  font-size: 18px;
  margin-left: 8px;
  color: #999999;
  cursor: pointer;
}
.cr-plugin-history {
  position: relative;
  padding-left: 65px;
  padding-right: 95px;
}
.cr-plugin-payment-history .cr-plugin-title {
  padding: 15px 20px;
  border-bottom: 1px solid #eee;
  margin: 0px !important;
}
.cr-plugin-history .cr-plugin-history-ico {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
  background-color: green;
  font-size: 24px;
  color: #fff;
  text-align: center;
  line-height: 50px;
}
.cr-plugin-history .cr-plugin-history-ico > i {
  background: transparent;
  color: #fff !important;
}
.cr-plugin-history .cr-plugin-history-ico .dashicons {
  font-size: 40px;
  position: absolute;
  top: 10px;
  left: 11px;
}
.cr-plugin-history-box {
  padding: 20px 20px;
  border-bottom: 1px solid #eee;
}
.cr-plugin-history-box:last-child {
  border-bottom: 0px;
}
.cr-plugin-history .cr-plugin-history-des span {
  font-size: 16px;
  color: #000;
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
  word-break: break-word;
}
.cr-plugin-history .cr-plugin-history-des span > a {
  color: #000;
  text-decoration: underline;
}
.cr-plugin-history .cr-plugin-history-des p {
  font-size: 16px;
  margin: 0px;
}
.cr-plugin-history .cr-plugin-history-date {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}
.cr-plugin-history .cr-plugin-history-date span {
  font-size: 14px;
  color: #999999;
}
.cr-plugin-history-footer {
  border-top: 1px solid #eee;
  padding: 15px 20px 15px 20px;
}
.cr-plugin-history-footer ul {
  margin: 0px;
}
.cr-plugin-history-footer ul li {
  margin: 0px;
  font-size: 18px;
  color: #999999;
  width: 50%;
  float: left;
  text-align: center;
}
.cr-plugin-history-footer ul li span {
  color: #000000;
  font-weight: 500;
  word-wrap: break-word;
}
.cr-plugin-history-footer ul li > span {
  display: block;
}
.cr-plugin-billing-main .cr-plugin-timer {
  position: absolute;
  top: 11px;
  right: 11px;
}
.cr-plugin-timer span {
  font-size: 15px;
  color: #666;
  display: inline-block;
  margin-right: 4px;
}
.cr-plugin-timer ul {
  margin: 0px;
  display: inline-block;
  padding: 0px;
}
.cr-plugin-timer ul > li {
  position: relative;
  margin: 0px;
  display: inline-block;
  height: 35px;
  width: 35px;
  background-color: #eee;
  font-size: 15px;
  line-height: 35px;
  font-weight: 500;
  text-align: center;
  color: #222;
  margin-right: 8px;
}
.cr-plugin-timer ul > li::before {
  content: ":";
  font-size: 15px;
  position: absolute;
  top: 0px;
  right: -8px;
  color: #666;
}
.cr-plugin-timer ul > li:last-child::before {
  content: none;
}
.cr-plugin-timer ul > li:last-child {
  margin-right: 0px;
}
.cr-plugin-timer ul > li > span {
  color: #222;
  margin: 0px;
}
.cr-plugin-brand {
  padding: 20px;
  text-align: center;
}
.cr-plugin-brand span {
  font-size: 16px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
}
.cr-plugin-copy {
  position: fixed;
  top: 50px;
  right: 20px;
  border-radius: 10px;
  background-color: #eb5202;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  padding: 15px 25px;
  display: none;
  z-index: 9999;
}
.cr-plugin-copy p {
  margin: 0px;
  color: #fff;
}
.cr-plugin-brand img {
  width: 120px;
  display: inline-block;
  vertical-align: middle;
  margin: 0px auto;
}
.cr-plugin-payment-history .cr-plugin-timer div {
  margin-left: 10px;
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2.5s linear infinite;
  animation: spin 2.5s linear infinite;
}
.cr-plugin-payment-history {
  position: relative;
}
.cr-plugin-payment-history #timer_status_payment {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
}
#timer_status_payment span {
  margin-right: 8px;
  font-size: 16px;
  position: relative;
  top: -2px;
}
#timer_status_payment > div {
  margin: 0px;
}
.theme-change-content .cr-plugin-main-box > .cr-plugin-left,
.theme-change-content .cr-plugin-main-box > .cr-plugin-right {
  width: 100%;
  float: none;
}
.theme-change-content .cr-plugin-shipping > div {
  width: calc(50% - 10px);
}
.cr-plugin-billing-box .cr-plugin-billing-amount ul li::before {
  content: none;
}
.cr-plugin-shipping > div,
.cr-plugin-main-box .cr-plugin-brand {
  width: 100%;
}
.entry-content .cr-plugin-main-box {
  text-align: left;
}
.order_details,
.order_details tr > th,
.order_details tr > td {
  background: transparent !important;
  /* border: 1px solid #eee !important; */
  color: #222 !important;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.invoice-title {
  font-size: 41px;
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
  .cr-plugin-shipping .cr-plugin-shipping-address,
  .cr-plugin-shipping .cr-plugin-billing-address {
    width: 100%;
    padding: 0px;
  }
  .cr-plugin-shipping .cr-plugin-shipping-address {
    margin-bottom: 20px;
  }
  .cr-plugin-cart-table-box {
    overflow-x: auto;
  }
  .cr-plugin-cart-table-box table {
    width: 500px;
  }
  .cr-plugin-billing-main .cr-plugin-timer {
    position: static;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 20px;
  }
  .cr-plugin-billing-box {
    display: block;
  }
  .cr-plugin-billing-box .cr-plugin-billing-code,
  .cr-plugin-billing-box .cr-plugin-billing-amount {
    width: 100%;
    display: block;
  }
  .cr-plugin-billing-box .cr-plugin-billing-amount ul li {
    padding-left: 0px;
  }
  .cr-plugin-billing-box .cr-plugin-billing-amount {
    margin-top: 15px;
  }
  .cr-plugin-billing-box {
    text-align: center;
  }
  .cr-plugin-billing-main {
    padding: 15px 15px;
  }
  .cr-plugin-billing-box .cr-plugin-billing-code {
    border: 0px;
  }
  .cr-plugin-billing-box .cr-plugin-billing-code img {
    margin: 0px auto;
  }
  .cr-plugin-history-footer {
    padding-left: 30px;
  }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .cr-plugin-main-box > .cr-plugin-left,
  .cr-plugin-main-box > .cr-plugin-right {
    width: 100% !important;
    float: none !important;
  }
}

@media screen and (max-width: 767px) {

  .entry-content .cr-plugin-main-box > div {
    padding: 0px;
    }

  .cr-plugin-shipping > div,
  .cr-plugin-main-box > div {
    width: 100% !important;
  }
  .cr-plugin-shipping > div {
    padding: 0px;
  }
  .cr-plugin-shipping > .cr-plugin-shipping-address {
    margin-bottom: 20px;
  }
  .cr-plugin-cart-table-box table {
    width: 575px !important;
  }
  .cr-plugin-history .cr-plugin-history-date {
    position: static;
    transform: none;
  }
  .cr-plugin-history-footer {
    padding-left: 0px;
    padding-right: 0px;
  }
  .cr-plugin-history-footer ul li {
    text-align: center;
  }
  .cr-plugin-history-footer ul li span {
    display: block;
  }
  .cr-plugin-cart-table-box {
    overflow-x: auto;
  }
  .cr-plugin-cart-table-box table {
    width: 100%;
  }
  .cr-plugin-billing-box {
    display: block;
  }
  .cr-plugin-billing-main {
    padding: 15px 15px;
  }
  .cr-plugin-billing-box .cr-plugin-billing-code img {
    margin: 0px auto;
  }
  .cr-plugin-billing-box .cr-plugin-billing-code,
  .cr-plugin-billing-box .cr-plugin-billing-amount {
    width: 100% !important;
    display: block;
    border: 0px;
    text-align: center;
  }
  .cr-plugin-billing-box .cr-plugin-billing-amount ul li {
    padding-left: 0px;
  }
  .cr-plugin-billing-box .cr-plugin-billing-amount {
    margin-top: 20px;
    text-align: center;
  }
}
@media screen and (max-width: 767px) and (min-width: 576px) {
  .cr-plugin-main-box .cr-plugin-shipping > div {
    width: 50% !important;
    margin: 0px;
  }
}
@media screen and (max-width: 575px) {
  .cr-plugin-billing-main .cr-plugin-timer {
    position: static;
    margin-bottom: 20px;
  }
  .cr-plugin-history-box .cr-plugin-history {
    padding-left: 0px;
    padding-right: 0px;
  }
  .cr-plugin-main-box {
    width: 100% !important;
  }
  .cr-plugin-main-box {
    margin: 0px;
  }
}
@media screen and (max-width: 479px) {
  .cr-plugin-payment-history #timer_status_payment {
    position: static;
    margin-top: 15px;
    padding-left: 15px;
  }
  /* .cr-plugin-history-box .cr-plugin-history {
    padding-left: 0;
  } */
  .invoice-title {
    font-size: 26px;
  }
  .cr-plugin-history-footer ul {
    padding-left: 0 !important;
    margin-right: 9px !important;
    margin-left: 9px !important;
  }
  .cr-plugin-timer {
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  .entry-content .cr-plugin-main-box {
    max-width: 100% !important;
    width: auto !important;
    /*padding: 0 6vw;*/
  }
}
@media screen and (min-width: 48em) {
  .wrap {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

.crpObj .active-wallet {
  width: 50px;
    max-height: 50px !important;
    /* margin: 10px 10px !important; */
    /* padding: 0px !important; */
    vertical-align: middle;
    border: 0px !important;
    background: transparent;
}

.crpObj {
  height: 80px;
    width: 80px;
    display: inline-block;
    background-color: #fff;
    vertical-align: top;
    border-radius: 6px;
    line-height: 72px;
    margin-right: 15px;
    margin-top: 10px;
    border: 3px solid transparent;
    text-align: center;
    position: relative;
    outline: 0 !important;
    box-shadow: none;
}
.crpObj:focus {
  outline: none;
}
a:where(:not(.wp-element-button)) {
  text-decoration: none;
}

.wallet_error_checkout{
  color: red;
  font-weight: 500;
}



.pay-box {
  display: flex;
  gap: 15px;
}
.pay-box .crpObj {
  height: 60px;
  width: 60px;
  border: 2px solid transparent;
  border-radius: 5px;
  display: block;
}
.pay-box .crpObj.active {
  border-color: #71c837;
}
.pay-box .crpObj > img {
  max-width: 45px;
  display: block;
  margin: 5px auto;
}
.crpObj:focus {
  outline: none !important;
}
a:where(:not(.wp-element-button)) {
  text-decoration: none;
}

.wallet_error_checkout{
  color: red;
  font-weight: 500;
}

.cr-plugin-cart-des p {
  margin: 0px;
}


.coinremitter-invoice-page header{
  display: none !important;
}

.coinremitter-invoice-page .content-area,
.coinremitter-invoice-page .mainSection-col-two {
  width: 100%;
  float: none;
  padding: 0px;
}
.coinremitter-invoice-page .widget-area.sidebar-primary,
.coinremitter-invoice-page .sideSection-col-two,
.coinremitter-invoice-page #content #secondary {
  display: none;
}
.coinremitter-invoice-page #content #main {
  width: 100% !important;
  padding: 0px !important;
}
.coinremitter-invoice-page #content article.hentry {
  padding: 0px !important;
}

.coinremitter-invoice-page .cm-posts {
  display: block;
}
.single-page-wrapper .entry-content{
  padding: 0;
}

.woocommerce.woocommerce-checkout table.shop_table tfoot td, 
.woocommerce.woocommerce-checkout table.shop_table tfoot th {
    border-color: var(--vamtam-default-line-color) !important;
    width: auto;
}
@media screen and (max-width: 575px) {
	.woocommerce.woocommerce-checkout table.shop_table tfoot th {
		display: block;
		width: auto;
		font-weight: 600;
		border: 0px !important;
		border-top: 1px solid var(--vamtam-default-line-color) !important;
		border-bottom: 1px solid var(--vamtam-default-line-color) !important;
	}
	.woocommerce.woocommerce-checkout table.shop_table tfoot tr:first-child th {
		border-top: 0px !important;
	}
	.woocommerce.woocommerce-checkout table.shop_table tfoot td {
		display: block;
		width: auto;
		text-align: left !important;
		border: 0px !important;
	}
}