.btc-wallet-box-plugin .btn-group {
    position: relative;
}
.bootstrapiso.btc-wallet-box-plugin .card h1.yzxnz_copy_amount {
    margin-top: 0px !important;
    margin-bottom: 12px !important;
	font-size: 30px;
}
.bootstrapiso.btc-wallet-box-plugin .card h1.yzxnz_copy_amount .text-muted {
    font-size: 18px;
}
.btc-wallet-box-plugin .btn-group p {
    margin: 0px;
}
.bootstrapiso .card-header {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,0.03);
    border-bottom: 1px solid rgba(0,0,0,0.125);
    margin-top: 0px;
}
.bootstrapiso .card-header p {
    margin: 0px;
}
.bootstrapiso.btc-wallet-box-plugin .card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: .25rem;
    margin-top: 16px;
    max-width: 620px !important;
    margin: 0px 0px 0px;
}
.btc-wallet-box-plugin .btn-group.btc-dropdown-btn {
    max-width: 620px;
    margin: 0px auto;
}
.bootstrapiso .yzxnz_addr_title {
    font-weight: 500!important;
    text-align: left;
    font-size: 20px;
    margin-top: 0px !important;
	line-height: 1.6;
}
.bootstrapiso h4, .bootstrapiso .h4 {
    font-size: 1.5rem;
	margin: 0px !important;
}
.bootstrapiso .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.bootstrapiso .float-right {
    float: right!important;
}
.bootstrapiso .yzxnz_refresh {
    height: 34px;
    width: 34px;
    padding: 0px;
    line-height: 0;
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border: 1px solid #6c757d;
    border-radius: .2rem;
}
.svg-inline--fa.fa-w-16 {
    width: 1em;
}
.bootstrapiso .card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.bootstrapiso .pb-1, .bootstrapiso .py-1 {
    padding-bottom: .25rem!important;
}
.bootstrapiso .mb-4, .bootstrapiso .my-4 {
    margin-bottom: 1.5rem!important;
}
.bootstrapiso .mt-3, .bootstrapiso .my-3 {
    margin-top: 1rem!important;
}
.bootstrapiso .card-title {
    margin-bottom: .75rem;
}
.bootstrapiso .text-muted {
    color: #6c757d!important;
}
.bootstrapiso small, .bootstrapiso .small {
    font-size: 80%;
    font-weight: 400;
}
.bootstrapiso .lead {
    font-size: 1.25rem;
    font-weight: 300;
}
.bootstrapiso .card-body p {
    margin: 0px;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
}
.bootstrapiso .yzxnz_button_wait.btn-block {
    width: auto;
}
.btc-wallet-address-box {
    position: relative;
}
.btc-wallet-address-box .yzxnz_wallet_address {
    color: #6c757d;
}
.btc-wallet-address-box .yzxnz_copy_address, 
.btc-wallet-address-box .yzxnz_wallet_open {
    color: #6c757d;
    display: inline-block;
    position: absolute;
    right: 28px;
    top: 4px;
    z-index: 1;
}
.btc-wallet-address-box .yzxnz_wallet_open{
	right: 0px;
}
.btc-wallet-address-box .yzxnz_copy_address svg,
.btc-wallet-address-box .yzxnz_wallet_open svg{
	width: .875em;
}
.btc-wallet-box-plugin .card-body .btc-wallet-address-box > a {
    margin-left: 0px;
    vertical-align: middle;
}
.btc-wallet-box-plugin .btc-wallet-address-box {
    margin-top: 8px !important;
    margin-bottom: 0px !important;
    text-align: left;
    font-size: 18px;
    width: calc(100% - 65px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    padding-right: 35px !important;
}
.btc-wallet-box-plugin .yzxnz_button_wait {
    font-size: 18px;
    border-radius: 6px;
    margin-top: 8px;
    margin-bottom: 15px;
    padding: 14px 20px;
    background: transparent;
    border: 1px solid #6c757d;
    color: #6c757d;
	font-weight: 600;
}
.btc-wallet-box-plugin .yzxnz_button_wait:hover {
    background-color: #6c757d;
    color: #fff;
}
.btc-wallet-box-plugin .yzxnz_button_wait svg {
    vertical-align: middle;
    position: relative;
    top: -3px;
}
.btc-wallet-main-box {
    display: table;
    width: 100%;
}
.btc-wallet-main-box > div {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}
.btc-wallet-main-box .btc-address-detail {
    padding-left: 10px;
}
.btc-wallet-main-box .btc-address-detail .lead {
    font-size: 18px;
}
.btc-wallet-box-plugin .yzxnz_button_confirm {
    font-size: 18px;
    border-radius: 6px;
    padding: 14px 20px;
    background-color: #6c757d;
    border-color: #6c757d;
	font-weight: 500;
}
.btc-confirm-btn {
    max-width: 620px;
    margin: 0px;
	padding: 0px 15px;
}
.btc-wallet-box-plugin .yzxnz_button_confirm svg {
    width: 16px;
    vertical-align: middle;
    position: relative;
    top: -2px;
}
.yzxnz_header {
    display: none;
}
.yzxnz_cryptobox_top {
    display: none;
}
@media screen and (max-width: 991px){
	.btc-wallet-main-box {
		display: block;
		width: 100%;
	}
	.btc-wallet-main-box > div {
		display: block;
		width: 100%;
		text-align: center;
	}
	.btc-wallet-box-plugin .btc-wallet-address-box {
		margin: 8px auto 0px !important;
	}
	.bootstrapiso .card-body p,
	.btc-confirm-btn{
		text-align: center;
	}
	.bootstrapiso .yzxnz_button_wait.btn-block {
		margin: 10px auto 15px;
	}
}
@media screen and (max-width: 1199px) and (min-width: 992px){
	.bootstrapiso.btc-wallet-box-plugin .card {
		max-width: 100% !important;
	}
	.btc-confirm-btn {
		max-width: 100%;
	}
}

/* MM */

.crpObj{
    box-shadow: inset 0 0px 0 rgba(15, 15, 15, 1) !important;
}
.crpObj.active img{
    /*border:1px solid #333333 !important;*/
    border: 2px solid #7db8d9 !important;
    background-color: #f4f8fb;
    
}
.bootstrapiso .coinremittercoin_useraddr_title {
    font-weight: 500!important;
    text-align: left;
    font-size: 20px;
    margin-top: 0px !important;
    line-height: 1.6;
}
.bootstrapiso.btc-wallet-box-plugin .card h1.coinremittercoin_usercopy_amount {
    margin-top: 0px !important;
    margin-bottom: 12px !important;
    font-size: 30px;
}
.btc-wallet-address-box .coinremittercoin_userwallet_address {
    color: #6c757d;
}

.btc-wallet-address-box .coinremittercoin_usercopy_address, .btc-wallet-address-box .coinremittercoin_userwallet_open {
    color: #6c757d;
    display: inline-block;
    position: absolute;
    right: 28px;
    top: 4px;
    z-index: 1;
}
.bootstrapiso .coinremittercoin_userbutton_wait{
    width: auto !important;
}
.btc-wallet-address-box .coinremittercoin_userwallet_open {
    right: 0px;
}
.btc-wallet-box-plugin .coinremittercoin_userbutton_wait {
    font-size: 18px !important;
    border-radius: 6px !important;
    margin-top: 8px;
    margin-bottom: 15px;
    padding: 14px 20px !important;
    background: transparent;
    border: 1px solid #6c757d !important;
    color: #6c757d !important;
    font-weight: 600 !important;
}
.btc-wallet-box-plugin .coinremittercoin_userbutton_wait:hover {
    background-color: #6c757d !important;
    color: #fff !important;
}
.btc-wallet-box-plugin .coinremittercoin_userbutton_confirm {
    font-size: 18px !important;
    border-radius: 6px !important;
    padding: 14px 20px !important;
    background-color: #6c757d !important;
    border-color: #6c757d !important;
    font-weight: 500 !important;
}
.wc_payment_method .payment_box.payment_method_coinremitterpayments {
    padding: 20px 20px;
    text-align: left;
    border-radius: 10px;
    margin-bottom: 30px;
}
.wc_payment_method .payment_box.payment_method_coinremitterpayments p {
    font-size: 18px;
    font-weight: 600;
    margin: 0px 0px;
}
.wc_payment_method .payment_box.payment_method_coinremitterpayments a.crpObj {
    height: 80px;
    width: 80px;
    display: inline-block;
    background-color: #fff;
    vertical-align: top;
    border-radius: 6px;
    line-height: 72px;
    margin-right: 15px;
    margin-top: 10px;
	border: 3px solid transparent;
    text-align: center;
    position: relative;
    outline: 0 !important;
}
.wc_payment_method .payment_box.payment_method_coinremitterpayments a.crpObj.active {
    border: 3px solid #71c837;
}
.wc_payment_method .payment_box.payment_method_coinremitterpayments a.crpObj.active::before {
    content: "";
    background-image: url(http://192.168.0.104/wordpress/wp-content/uploads/2019/10/checkout.png);
    height: 25px;
    width: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: -8px;
    right: -12px;
}
.wc_payment_method .payment_box.payment_method_coinremitterpayments a.crpObj img {
    width: auto;
    max-height: 50px;
    margin: 0px !important;
    padding: 0px !important;
    vertical-align: middle;
    border: 0px !important;
    background: transparent;
}