@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family: 'Roboto', sans-serif !important;
}
.entry-content{
    font-family: 'Roboto', sans-serif !important;
}
.wallets-button {
    text-align: right;
    margin-bottom: 15px;
}
.wallets-btn {
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
    border-style: solid;
    border-width: 1px 1px 2px;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    outline: 0;
    overflow: hidden;
    font-weight: 600;
    text-overflow: ellipsis;
    text-decoration: none;
    vertical-align: top;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 21px;
    border-radius: 4px;
    padding: 9px 14px 9px;
    -webkit-appearance: none;
    appearance: none;
    text-shadow: none;
}
.wallets-btn:hover {
    background: #008ec2;
    border-color: #006799;
}
.wallets-btn:active{
    background: #0073aa;
    border-color: #006799;
    box-shadow: inset 0 2px 0 #006799;
    transform: translateY(1px);
}
.wallets-btn > i {
    margin-right: 3px;
}
.crypto-wallets h2 {
    font-size: 20px;
    margin-bottom: 12px;
    margin-top: 25px;
    margin-left: 40px;
    font-weight: bold;
}
.well-inactive {
    min-height: 20px;
    padding: 19px 19px 12px 19px;
    margin-bottom: 20px;
    background-color: #f7f7f7;
    border: 1px solid #f7f7f7;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.wallet-ico-box .wallet-coin-name {
    width: calc(100% - 60px);
    float: left;
}
.wallet-ico-box .wallet-edits {
    height: auto;
    width: auto;
    background-color: #fff;
    border-radius: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
    position: absolute;
    bottom: -3px;
    right: 15px;
    color: #fff;
}
.wallet-ico-box .wallet-edits .wallet-edit {
    background-color: #f3f3f3;
    border-color: #a9a9a9;
    font-weight: 600;
    outline: 0 !important;
}
.wallet-balance h4 {
    text-align: right;
    margin: 0px;
    font-size: 18px;
    color: #0073aa;
    font-weight: 600;
}
.wallet-ico {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 8px;
    float: left;
    line-height: 58px;
    text-align: center;
}
.wallet-ico img {
    max-height: 34px;
}
.well-inactive h2 {
    font-size: 16px !important;
    margin: 0px 0px 0px 16px !important;
    padding: 0px 0 4px !important;
    font-weight: 600 !important;
}
.well-inactive h2 span {
    display: block;
    font-weight: 400;
    margin-top: 1px;
    line-height: normal;
}
.wallet-edits {
    height: 30px;
    width: 30px;
    background-color: #f3f3f3;
    border-color: #a9a9a9;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
    font-weight: 600;
    outline: 0 !important;
}
.wallet-balance {
    font-size: 22px;
    float: left;
    margin-left: 15px;
    margin-top: 2px;
}
.wallet-usd p {
    font-size: 16px;
    color: #222;
    margin: 0px;
}
.wallet-usd {
    margin: 0px -19px;
    border-top: 2px dashed #eee;
    margin-top: 15px;
    padding: 15px 20px 0px;
    text-align: right;
}
.wallet-edit {
    display: inline-block;
    text-decoration: none;
    font-size: 13px !important;
    height: 28px;
    margin: 0 !important;
    padding: 0 15px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none !important;
    border-radius: 3px !important;
    white-space: nowrap;
    box-sizing: border-box;
    color: #555;
    border-color: #ccc;
    background: #f7f7f7;
    box-shadow: 0 1px 0 #ccc;
    vertical-align: top;
    outline: 0 !important;
    font-weight: 600;
}
.crypto-summary {
    margin-top: -70px;
}
.crypto-summary .wallet-title {
    font-size: 24px;
    font-weight:bold;
    margin-bottom: 15px;
}
.crypto-summary .wallet-content {
    margin-bottom: 30px;
    padding-left: 45px;
}
.crypto-summary .wallet-content li {
    font-size: 16px;
    margin-bottom: 14px;
    list-style: decimal;
    padding: 0px !important;
}
.crypto-summary p {
    font-size: 16px;
    margin-bottom: 12px;
}
.crypto-summary a {
    color: #0073aa;
    text-decoration: none;
}
/* popup css */
.pum-modal-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.7);
    z-index: 100100;
    overflow-y: scroll;
}
#pum_cookie_add_event_modal .pum-modal-wrap, #pum_trigger_add_type_modal .pum-modal-wrap {
    width: 440px;
    margin-left: -220px;
}

.pum-modal-background .pum-modal-wrap {
    position: absolute;
    top: 60px;
    margin-bottom: 60px;
    left: 50%;
    width: 550px;
    margin-left: -300px;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.3);
    box-shadow: 0 3px 6px rgba(0,0,0,.3);
    z-index: 100105;
    -webkit-transition: height .2s,margin-top .2s;
    transition: height .2s,margin-top .2s;
}
.pum-modal-background .pum-modal-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 36px;
    padding: 0 36px 0 16px;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
    background: #fcfcfc;
    border-bottom: 1px solid #dfdfdf;
}
.pum-modal-background .pum-modal-header .pum-modal-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    padding: 0;
    color: #666;
    text-align: center;
    background: 0 0;
    border: none;
    cursor: pointer;
    outline: 0;
    font-size: 16px;
}
.pum-modal-background .pum-modal-content {
    padding: 52px 16px 70px;
}
.wallet-form .wallet-form-box {
    margin-bottom: 15px;
}
.wallet-form .wallet-form-box:last-child {
    margin-bottom: 0px;
}
.pum-field>label {
    display: block;
    font-weight: 700;
}
.wallet-form-box label {
    display: block;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 4px;
}
.wallet-form-box select,
.wallet-form-box input {
    display: block;
    font-size: 15px;
    height: auto;
    padding: 8px 8px;
    width: 100%;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    background-color: #fff;
    color: #32373c;
    outline: 0;
    transition: 50ms border-color ease-in-out;
}
#popup_cookie_add_event, #popup_trigger_add_type {
    display: block;
    font-size: 1.4em;
    height: auto;
    margin: 1.5em 0;
    padding: .25em;
    width: 100%;
}

.wp-admin select {
    padding: 2px;
    line-height: 28px;
    height: 28px;
    vertical-align: middle;
}
.pum-modal-background .pum-modal-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px 16px;
    background: #fcfcfc;
    border-top: 1px solid #dfdfdf;
}
.pum-modal-background .pum-modal-footer .cancel {
    line-height: 25px;
    float: left;
}
.pum-modal-background .pum-modal-footer .cancel .submitdelete {
    text-decoration: none;
    padding: 1px 2px;
}

.no-button, .pum-modal-background .pum-modal-footer .cancel .no-button {
    border: 0;
    padding: 0;
    background: 0 0;
    cursor: pointer;
}
.submitbox .submitdelete {
    color: #a00;
}
.pum-delete {
    line-height: 23px;
    float: left;
}
.submitbox .deleteBtn {
    background-color: #ff3f3f;
    border-color: #ff3f3f #ff3f3f #ff3f3f;
    box-shadow: 0 1px 0 #ff3f3f;
    text-shadow: 0 -1px 1px #ff3f3f, 1px 0 1px #ff3f3f, 0 1px 1px #ff3f3f, -1px 0 1px #ff3f3f;
}
.submitbox .deleteBtn:hover{
    background: #ff3f3f;
    border-color: #ff3f3f;
    color: #fff;
}
.submitbox .deleteBtn:focus {
    box-shadow: 0 1px 0 #ff3f3f, 0 0 2px 1px #ff3f3f;
}
.pum-submit {
    line-height: 23px;
    float: right;
}
.pum-submit .button-primary {
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 26px;
    height: 28px;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
    outline: 0 !important;
}
.pum-submit .button-primary:hover {
    background: #008ec2;
    border-color: #006799;
}
.pum-submit .button-primary:active{
    background: #0073aa;
    border-color: #006799;
    box-shadow: inset 0 2px 0 #006799;
    transform: translateY(1px);
}
@media screen and (max-width: 479px){
    .wallet-balance h4{
        font-size: 18px;
    }
}
@media screen and (max-width: 600px){
    #wpcontent {
        padding-right: 10px !important;
    }
    #wpbody-content{
        display: none;
    }
    .crypto-wallets {
        padding-top: 30px;
    }
    .crypto-summary {
        margin-top: 10px;
    }
    #pum_cookie_add_event_modal .pum-modal-wrap, #pum_trigger_add_type_modal .pum-modal-wrap {
        width: calc(100% - 30px);
        left: 50%;
        transform: translateX(-50%);
        margin: 0px auto;
    }
}
@media screen and (max-width: 1440px) and (min-width: 1297px){
    .bootstrapiso .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33% !important;
    flex: 0 0 33% !important;
    max-width: 33% !important;
    }
}
@media screen and (max-width: 1297px) and (min-width: 989px){
    .bootstrapiso .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50% !important;
    flex: 0 0 50% !important;
    max-width: 50% !important;
    }
}
/* Custom */
.coinremitterlogo img{
    margin-right: 50px !important;
}


@keyframes spin {
    100% {
      transform: rotate(360deg) !important;
      box-shadow: none !important;
    }
  }