.wrapper {
    max-width: 700px;
    margin: 50px auto;
}
.cryptocurrancy-main {
    display: table;
    width: 100%;
    margin-bottom: 15px;
}
.cryptocurrancy-main .cryptocurrancy-left {
    width: 65%;
    display: table-cell;
    vertical-align: top;
}
.cryptocurrancy-main .cryptocurrancy-right {
    width: 35%;
    display: table-cell;
    vertical-align: top;
    padding-left: 15px;
}
.cryptocurrancy-box {
    box-shadow: 0px 0px 6px #eee;
    border: 1px solid #eee;
    border-radius: 6px;
    text-align: center;
    padding: 20px 20px;
    position: relative;
}
.cryptocurrancy-popup {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #fff;
    border-radius: 6px;
    z-index: 1;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
}
.cryptocurrancy-popup.popup-open {
    opacity: 1;
    visibility: visible;
}
.close-box {
    height: 26px;
    width: 26px;
    background-color: rgb(108, 117, 126);
    color: #fff;
    font-size: 13px;
    border-radius: 100%;
    line-height: 27px;
    position: absolute;
    top: -12px;
    right: -12px;
    cursor: pointer;
}
.close-box > i {
    line-height: 27px;
}
.cryptocurrancy-popup .cryptocurrancy-popup-box {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 100%;
    padding: 0px 15px;
}
.cryptocurrancy-popup .cryptocurrancy-popup-box .cryptocurrancy-input {
    margin-top: 8px;
}
.cryptocurrancy-popup .cryptocurrancy-popup-box .popup-message {
    font-size: 18px;
    font-weight: 600;
    margin: 12px 0px 0px;
}
.cryptocurrancy-popup .cryptocurrancy-popup-box h3 {
    font-size: 22px;
    margin-top: 8px;
    margin-bottom: 0px;
}
.cryptocurrancy-popup .cryptocurrancy-popup-box img {
    max-height: 180px;
}
.cryptocurrancy-box .cryptocurrancy-ico {
    margin-bottom: 8px;
}
.cryptocurrancy-box .cryptocurrancy-ico img {
    max-height: 60px;
}
.cryptocurrancy-box h2 {
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 0px;
    padding-top: 0px;
    color: #212529;
    font-weight: 400;
}
.cryptocurrancy-address {
    border-top: 1px solid rgba(0,0,0,0.03);
    margin: 0px -20px;
    padding: 15px 20px 15px;
    margin-bottom: 10px;
}
.cryptocurrancy-input {
    text-align: left;
}
.cryptocurrancy-input label {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 2px;
}
.cryptocurrancy-input p {
    margin: 0px;
    text-align: left;
    width: auto;
    background-color: rgba(0,0,0,0.03);
    border: 1px solid rgba(0,0,0,0.03);
    color: #222;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 60px 10px 15px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.cryptocurrancy-input p .copy-btn {
    background-color: rgba(0,0,0,0.03);
    border: 1px solid rgba(0,0,0,0.03);
    color: #444;
    font-size: 20px;
    height: 46px;
    width: 46px;
    position: absolute;
    top: -1px;
    right: -1px;
    cursor: pointer;
    outline: 0;
    padding: 0px !important;
}
.cryptocurrancy-btn > div {
    display: inline-block;
    margin-right: 4px;
}
.cryptocurrancy-btn > div:last-child {
    margin-right: 0px;
}
.cryptocurrancy-btn .qr-code-box .qr-btn,
.cryptocurrancy-btn .refress-btn .ref-btn {
    margin: 0px;
    text-align: left;
    width: auto;
    background-color: rgba(0,0,0,0.03);
    border: 1px solid rgba(0,0,0,0.03);
    color: #222;
    margin-top: 8px;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 15px;
    position: relative;
    outline: 0;
}
.cryptocurrancy-btn .qr-code-box .qr-btn > i,
.cryptocurrancy-btn .refress-btn .ref-btn > i{
    margin-right: 4px;
}
.cryptocurrancy-btn .qr-code-box .qr-btn{
    background-color: rgb(108, 117, 126);
    color: #fff;
}
.cryptocurrancy-notes {
    margin: 0px -20px -22px;
    background-color: rgba(0,0,0,0.03);
    border-top: 1px solid rgba(0,0,0,0.03);
    padding: 20px 20px;
    text-align: left;
}
.cryptocurrancy-notes p {
    font-size: 16px;
    color: #444;
    margin: 0px;
}
.cryptocurrancy-notes p b {
    display: block;
}
.order-summary-box {
    box-shadow: 0px 0px 6px #eee;
    border: 1px solid #eee;
    border-radius: 6px;
}
.order-summary-box h3 {
    background-color: rgba(0,0,0,0.03);
    border-bottom: 1px solid rgba(0,0,0,0.03);
    font-size: 18px;
    font-weight: 600;
    padding: 12px 15px !important;
    margin-bottom: 0px;
}
.order-summary-box h3 .order-id {
    font-size: 14px;
    display: block;
    margin-top: 4px;
}
.order_item > div {
    display: table-cell;
    vertical-align: top;
}
.order-summary-box .order-product {
    padding: 12px 0px;
    height: 236px;
    max-height: 268px;
    overflow-y: auto;
}
.order-product .order_item {
    padding: 0px 8px 12px;
    border-bottom: 1px solid rgba(0,0,0,0.03);
    margin-bottom: 12px;
}
.order-product .order_item:last-child {
    border-bottom: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.order-product .order_item .order_img {
    width: 50px;
    margin-right: 10px;
    border: 1px solid transparent;
}
.order-product .order_item .order_img img {
    max-width: 100%;
}
.order-product .order_item .order_info {
    padding-left: 10px;
}
.order-product .order_item .order_info a {
    font-size: 16px;
    color: #222;
    display: block;
    margin-bottom: 2px;
    transition: all 0.5s;
    text-decoration: none;
    box-shadow: unset;
}
.order-product .order_item .order_info a:hover {
    color: #666;
}
.order-product .order_item .order_info p {
    font-size: 14px;
    font-weight: 600;
    margin: 0px;
}
.order_table {
    background-color: rgba(0,0,0,0.03);
    border-top: 1px solid rgba(0,0,0,0.03);
    padding: 18px 10px;
}
.order_table .order_total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}
.order_table .order_total:last-child {
    margin-bottom: 0px;
}
.order_table .order_total span {
    font-size: 15px;
    font-weight: 400;
    color: #222;
}
.order_table .order_total .price {
    font-weight: 600;
}
.customer-detail-main .customer-detail {
    display: table;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.08);
    position: relative;
    border-radius: 6px;
}
.customer-detail-main .customer-detail::before {
    content: "";
    height: 100%;
    width: 1px;
    background-color: rgba(0,0,0,0.05);
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}
.customer-detail-main .customer-detail .customer-detail-box {
    display: table-cell;
    width: 50%;
    position: relative;
}
.customer-detail-main .customer-detail .customer-detail-box.customer-border::before {
    content: "";
}
.customer-detail-main .customer-detail .customer-detail-box h3 {
    font-size: 18px;
    font-weight: 600;
    color: #222;
    margin-bottom: 0;
    background-color: rgba(0,0,0,0.03);
    padding: 10px 20px;
}
.customer-detail-main .customer-detail .customer-detail-box address {
    font-size: 16px;
    color: #444;
    margin: 0px;
    padding: 10px 20px;
    font-style: unset;
}
.customer-detail-main .customer-detail .customer-detail-box address .address-box{
    margin-top: 8px;
}
.customer-detail-main .customer-detail .customer-detail-box address .address-box p {
    font-size: 15px;
    margin-bottom: 0px;
}
.overlay {
    background-color: #000;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}
.overlay.overlay-show {
    opacity: .9;
    visibility: visible;
}
.cryptocurrancy-sucsess {
    /*padding: 20px 0px 40px;*/
    padding: 120px 0px 120px;
}
.cryptocurrancy-sucsess .sucsess-icon img {
    max-height: 100px;
    border: 1px solid rgba(0,0,0,0.03);
    box-shadow: 0px 0px 6px rgba(0,0,0,0.03);
    border-radius: 100%;
    padding: 0px;
    background-color: rgba(0,0,0,0.03);
}
.cryptocurrancy-sucsess .sucsess-messgae {
    font-size: 24px;
    color: #008000;
    margin-top: 10px;
    margin-bottom: 0px;
}
.cryptocurrancy-cancel {
    /*padding: 20px 0px 40px;*/
    padding: 120px 0px 120px;
}
.cryptocurrancy-cancel .cancel-icon img {
    max-height: 100px;
    border: 1px solid rgba(0,0,0,0.03);
    box-shadow: 0px 0px 6px rgba(0,0,0,0.03);
    border-radius: 100%;
    padding: 0px;
    background-color: rgba(0,0,0,0.03);
}
.cryptocurrancy-cancel .cancel-messgae {
    font-size: 24px;
    color: #D8000C;
    margin-top: 10px;
    margin-bottom: 0px;
}
/* responsive css */

@media screen and (max-width: 575px){
    .customer-detail-main .customer-detail{
        display: block;
    }
    .customer-detail-main .customer-detail .customer-detail-box {
        display: block;
        width: 100%;
        margin-bottom: 15px;
    }
    .customer-detail-main .customer-detail::before{
        content: none;
    }
}
@media screen and (max-width: 767px){
    .wrapper{
        padding: 0px 8px;
    }
    .cryptocurrancy-main {
        display: block;
    }
    .cryptocurrancy-main .cryptocurrancy-left {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    .cryptocurrancy-main .cryptocurrancy-right {
        width: 100%;
        display: block;
        padding: 0px;
    }
}
/* MM */
header.entry-header{
    display: none;
}
.entry-content{
    width: auto !important;
    float: none !important;
}
.cryptocurrancy-input p a{
    box-shadow: inset 0 0px 0 rgba(15, 15, 15, 1) !important;
}
.order_table .order_total .price .woocommerce-Price-amount.amount{
    font-weight: 600;
}
